{
	GSThemeDescription="The Gershwin Desktop Experience";
	GSThemeName="Eau";
    	GSThemeAuthors = (
			   "Simon Peter",
               "Evan Fiddes",
		       "Riccardo Canalicchio",
		       "Alessandro Sangiuliano",
		       "Bertrand Dekoninck"
    		       );		       
    	GSThemeDetails = "The Gershwin Desktop Experience";
    	GSThemeDomain = {
		  NSScrollViewInterfaceStyle = NSMacintoshInterfaceStyle;
  	          NSScrollerInterfaceStyle = NSMacintoshInterfaceStyle;
	          NSMenuInterfaceStyle = NSMacintoshInterfaceStyle;
    		      };
    	GSThemeIcon = "ThemeIcon.png";
	GSThemePreview = "ThemePreview.png";
	GSThemeLicense = "";
    	GSThemeTiles = {
    	};
    	GSThemeVersion = "0.1";
}
