{
	GSThemeDescription="A Theme for GNUstep";
	GSThemeName="Eau";
    	GSThemeAuthors = (
		       "Riccardo Canalicchio",
		       "Alessandro Sangiuliano",
		       "Bertrand Dekoninck"
    		       );		       
    	GSThemeDetails = "A Theme for GNUstep";
    	GSThemeDomain = {
		  NSScrollViewInterfaceStyle = NSMacintoshInterfaceStyle;
  	          NSScrollerInterfaceStyle = NSMacintoshInterfaceStyle;
	          NSMenuInterfaceStyle = NSMacintoshInterfaceStyle;
    		      };
    	GSThemeIcon = "ThemeIcon.png";
	GSThemePreview = "ThemePreview.png";
	GSThemeLicense = "";
    	GSThemeTiles = {
    	};
    	GSThemeVersion = "0.1";
}
